{
  "testPostsFlow": [
      {
          "name": "Fetch all Posts",
          "url": "https://jsonplaceholder.typicode.com/posts",
          "method": "GET",
          "params": {},
          "assertions": [
              {
                  "type": "equal",
                  "target": "data.0.title",
                  "expected": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit"
              },
              {
                  "type": "equal",
                  "target": "status",
                  "expected": 200
              },
              {
                  "type": "include",
                  "target": "data.1.title",
                  "expected": "est"
              }
          ]
      },
      {
          "name": "Fetch Single Post",
          "url": "https://jsonplaceholder.typicode.com/posts/1",
          "method": "GET",
          "params": {},
          "assertions": [
              {
                  "type": "equal",
                  "target": "data.title",
                  "expected": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit"
              },
              {
                  "type": "equal",
                  "target": "status",
                  "expected": 200
              },
              {
                  "type": "include",
                  "target": "data.title",
                  "expected": "siunt"
              }
          ]
      }
  ]
}